body {
  background: url("./assets/img/img-fundo2.png") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-logo {
  width: 25%;
  bottom: 70%;
  min-width: 300px;
}

.menu {
  font-size: 0.7em;
  font-weight: 800;
  color: #314b7c;
}

.menu a {
  color: #314b7c;
}

.btn-login {
  background-color: orange;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 25px 47px;
  border-radius: 100px;
  font-size: 2em;
}

.btn-login:hover {
  background-color: #314b7c;
  color: #fff;
}

.btn-site {
  position: absolute;
  background-color: #314b7c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 15px 38px;
  border-radius: 100px;
  color: #fff;
  font-size: 1.3em;
  z-index: 999;
  bottom: 2%;
}

.btn-site:hover {
  background-color: #fff;
  color: #314b7c;
}

.menu-sociais {
  font-size: 2em;
}

.menu-sociais img {
  max-width: 100px;
}

.container-carrossel img {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 50px 0px;
  background-color: #314b7c;
  font-size: 0.8em;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
}