body {
    background: url('../assets/img/img-fundo-testes.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-voltar {
    margin: 0 0 0 20px;
    position: absolute;
    z-index: 999;
    color: #fff;
    margin-top: 20px;
    font-size: 1.5em;
}

.container-logo {
    text-align: center;
    padding-top: 40px;
}

footer {
    text-align: center;
    padding: 50px 0px;
    background-color: #314B7C;
    font-size: 0.8em;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.container-testes {
    margin: auto;
    padding: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.first-column {
    display: flex;
    flex-direction: column;
}

.second-column {
    display: flex;
    flex-direction: column;
}

.third-column {
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    text-align: left;
}

.btn-teste img {
    display: flex;
    flex-direction: row;
    max-width: 135px;
    position: absolute;
    right: 70%;
    bottom: -57%;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 0;
    text-align: center;
    left: 5%;
}

.dropdown-content a {
    padding: 10px;
    color: #314B7C;
}

.dropdown-content a:hover {
    background-color: #314B7C;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dropdown:hover {
    cursor: pointer;
}

.btn2::before {
    width: 100%;
    height: 0%;
}

.btn2:hover {
    color: #314B7C;
}

.btn2:hover::before {
    height: 100%;
}

.btn {
    position: relative;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    font-family: "montserrat";
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 15px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    width: 100px;
    z-index: 2;
}

.btn::before {
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

a {
    text-decoration: none;
}