body {
  overflow-x: hidden;
}

.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.container-case textarea {
  width: 80%;
  font-size: 1.3em;
}

.atitudes {
  position: relative;
  left: 46%;
  margin: 70px 0 50px 0;
}

.container-atitudes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-resposta {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-resposta textarea {
  font-size: 1.3em;
}

.container-observacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.container-observacoes textarea {
  width: 80%;
  font-size: 1.3em;
}

.btn-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botao-enviar {
  background: #0066a2;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#botao-enviar:hover {
  background-color: green;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .container-atitudes {
    flex-direction: column;
  }
}
