body {
  overflow-x: hidden;
}

.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.container-case textarea {
  width: 80%;
  font-size: 1.3em;
}

.container-atitudes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-resposta {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-resposta textarea {
  font-size: 1.3em;
}

.container-observacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.container-observacoes textarea {
  width: 80%;
  font-size: 1.3em;
}

.buttom-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

#botao-enviar {
  background: #314b7c;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 10px 50px;
  margin-top: 20px;
}

#botao-enviar:hover {
  background-color: green;
  cursor: pointer;
}

/* responsividade */

@media only screen and (max-width: 1500px) {
  .container-titulo {
    font-size: 1.2em;
  }

  .container-case {
    font-size: 1.2em;
  }

  .container-case textarea {
    width: 100%;
  }

  .atitudes {
    left: 0;
    margin: 30px 0 20px 0;
  }

  .container-atitudes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-resposta textarea {
    width: 100%;
  }

  .container-observacoes textarea {
    width: 100%;
  }

  #botao-enviar {
    font-size: 1.2em;
  }
}
