.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-predominio {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

/* .grid {
  display: grid;
}

.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.sidenav {
  grid-area: sidenav;
}

.advert {
  grid-area: advert;
}

.footer {
  grid-area: footer;
}

.grid-template-areas-1 {
  grid-template-areas:
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer";
} */
