.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-principal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.table {
  padding-top: 10px;
  width: 35vw;
}

.container-predominio {
  display: flex;
  flex-direction: row;
}

.img-fluid {
  max-width: 700px;
}

.buttom-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

#botao-enviar {
  background: #314b7c;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 10px 50px;
  margin-top: 20px;
}

.predominio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-predominio img{
  max-width: 600px;
}

#botao-enviar:hover {
  background-color: green;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container-header {
    width: 100%;
  }

  .container-predominio img{
    width: 500px;
  }

  .table{
    width: 10vw;
  }
}
