.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
  text-decoration: none;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grupo-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.button1 {
  text-decoration: none;
  color: black;
  padding-bottom: 90px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}

.button2 {
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}

.button3 {
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}

.button4 {
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}

.button5 {
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}

.button5 {
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}
.button6 {
  text-decoration: none;
  color: black;
  padding-bottom: 50px;
  background-color: darkorange;
  width: 30%;
  border-radius: 500px;
}
