a {
    text-decoration: none;
}

.btn-voltar {
    margin: 0 0 20px 0;
    position: absolute;
    z-index: 999;
    color: #fff;
    margin-top: 20px;
}

.container-logo {
    text-align: center;
    background-color: #314B7C;
}

.container-form {
    width: 40%;
    margin: auto;
    padding: 147px 0;
}

.card {
    display: flex;
    box-shadow: 1px 1px 5px #ccc;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    margin: 59px 0px;

}

.container-email {
    margin-bottom: 10px;
}

.container-senha {
    margin-bottom: 20px;
}

.container-entrar {
    display: flex;
    flex-direction: column;

}

.container-entrar input {
    margin-bottom: 10px;
}


.img-logo {
    padding: 20px 0px;
}

footer {
    text-align: center;
    padding: 50px 0px;
    background-color: #314B7C;
    font-size: 0.8em;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}