.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-principal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
}

.inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inicio textarea {
  margin-left: 50px;
}

.txt {
  display: flex;
  flex-direction: column;
}

.container-meio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.buttom-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botao-enviar {
  background: #314b7c;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 10px 50px;
  margin-top: 20px;
}

#botao-enviar:hover {
  background-color: green;
  cursor: pointer;
}
