.img-titulo {
  width: 15%;
  position: relative;
  left: 43%;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerTitulo {
  text-align: center;
}

.container-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-table input {
  text-align: center;
}

.container {
  border: 1px solid #000;
  margin-top: 40px;
}

table {
  margin: 0;
  width: 100%;
}

.container-table input {
  width: 18%;
  position: relative;
  left: 41%;
  height: 40px;
  margin-top: 30px;
  background-color: #314b7c;
  color: #fff;
  font-size: 1.1em;
}

.container-table input::placeholder {
  color: #fff;
}

.container-table textarea {
  width: 100%;
  height: 60px;
}

.table-text {
  width: 10%;
}

.container-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.container-submit input {
  height: 40px;
  background-color: #314b7c;
  color: #fff;
  font-size: 1.1em;
}

.container-submit input::placeholder {
  color: #fff;
}

#submit:hover {
  background-color: #0f1623;
  cursor: pointer;
}