.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.container-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titulo {
  position: relative;
  left: 12%;
}

.container-txt {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.txt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

#input1,
#input2,
#input3,
#input4,
#input5 {
  width: 50px;
}

.container-titulos {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 2fr;
}

.container-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

#botao-enviar {
  background: #0066a2;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 30px 0;
}

#botao-enviar:hover {
  background-color: green;
  cursor: pointer;
}