.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
  text-decoration: none;
}

.container-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.respostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.respostas h1 {
  background-color: darkorange;
  padding: 15px 30px;
  border-radius: 200px;
}

.table1 {
  padding-bottom: 100px;
}

td {
  border-bottom: 1px solid #000;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
  text-align: center;
}

.table2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}