.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #000;
  margin-top: 20px;
  font-size: 1.5em;
  text-decoration: none;
}

.respostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.table1 {
  padding-bottom: 100px;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
}
