body {
  background: url("../assets/img/img-fundo-cadastro.jpeg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

.btn-voltar {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 999;
  color: #fff;
  margin-top: 20px;
  font-size: 1.5em;
}

.container-logo {
  text-align: center;
}

.cadastro-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-infos {
  display: flex;
  box-shadow: 1px 1px 5px #ccc;
  background-color: #fff;
  padding: 50px 50px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  margin: 59px 0px;
}

.card-infos input {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 0.8em;
  margin-bottom: 20px;
}

.card-testes {
  display: flex;
  box-shadow: 1px 1px 5px #ccc;
  background-color: #fff;
  padding: 50px 50px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  margin: 59px 0px;
}

#cadastrar {
  position: relative;
  left: 50%;
  padding: 20px;
  border-radius: 50px;
  font-size: 1em;
  border: none;
  background-color: #fff;
}

#cadastrar:hover {
  cursor: pointer;
  color: #fff;
  background-color: #314b7c;
}